.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.sideNav {
  font-family: "Playfair Display", system-ui;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--mid);
  text-align: start;
}
.nav {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  li {
    // padding-right: 20px;
  }
  .active {
    color: var(--white);
    position: relative;
  }
  // .active::after {
  //   content: "";
  //   position: absolute;
  //   width: 10px;
  //   height: 100%;
  //   background-color: var(--white);
  //   right: 0;
  // }
}
.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}
