.container {
  width: 800px;
  height: 100vh;
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
}

.projectName {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0;
}
.skills {
  display: flex;
}

.sideBtn {
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 10vh;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .close {
    width: 50px;
    height: 50px;
    background-color: var(--second);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white);
    &:hover {
      background-color: var(--mid);
    }
  }
}
